<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="worktimecalc2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <worktimecalc2.Properties.Settings>
            <setting name="s_LenOfWorkDayH" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="s_LenOfWorkDayM" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="s_rtfFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="s_lvFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="s_LastText" serializeAs="String">
                <value />
            </setting>
            <setting name="s_LastStyleFlopped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="s_forceUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_ShowDiagram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="s_HideOFFDAYS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_Regex_DaysOff" serializeAs="String">
                <value>(Hétf.|Kedd|Szerda|Csütörtök|Péntek|Szombat|Vasárnap) (\d{4}-\d{2}-\d{2}) true</value>
            </setting>
            <setting name="s_Regex_VacSic" serializeAs="String">
                <value>(Hétf.|Kedd|Szerda|Csütörtök|Péntek|Szombat|Vasárnap) (\d{4}-\d{2}-\d{2}) 1</value>
            </setting>
            <setting name="s_Regex_Proper" serializeAs="String">
                <value>(Hétf.|Kedd|Szerda|Csütörtök|Péntek|Szombat|Vasárnap) (\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}) - (\d{2}:\d{2})</value>
            </setting>
            <setting name="s_Regex_Nothing" serializeAs="String">
                <value>(Hétf.|Kedd|Szerda|Csütörtök|Péntek|Szombat|Vasárnap) (\d{4}-\d{2}-\d{2}) 8</value>
            </setting>
            <setting name="s_UseLine" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="s_LockView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_dayNames" serializeAs="String">
                <value>hétfo,kedd,szerda,csütörtök,péntek,szombat,vasárnap</value>
            </setting>
        </worktimecalc2.Properties.Settings>
    </userSettings>
</configuration>